@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --color-primary-50:  #e6faff;
  --color-primary-100: #b3f0fb;
  --color-primary-200: #80e5f6;
  --color-primary-300: #4ddbf2;
  --color-primary-400: #1ad0ed;
  --color-primary-500: #00c0e8;
  --color-primary-600: #009bbb;
  --color-primary-700: #00768e;
  --color-primary-800: #005061;
  --color-primary-900: #002b34;
  --color-primary-950: #001520;
}

html, body, #app {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Inter", "Segoe UI", system-ui, sans-serif;
}
